.hospital-card {
  border: 1px solid lightgray;
  margin: 1rem;
  padding: 1rem;
  width: 300px;
  height: 500px;
}

.hospital-logo {
  width: 5rem;
  height: 5rem;
  float: right;
  margin: 0 0 .5rem .5rem;
}

.hospital-card-h3 {
  font-size: 2rem;
  margin: 0 0 2rem 0;
  text-align: center;
  font-weight: bold;
}

.queue-count {
  text-align: center;
  i {
    font-size: 1.8rem;
    color: rgba(255, 0, 0, 0.61);
  }
  p {
    font-size: 2.5rem;
  }
}

.general-info {
  padding-top: 25px;
}

.action-buttons {
  text-align: center;
  margin-top: 210px;
}
