<div class="hospital-card panel" ng-class="!$ctrl.card.currentQueue[0] ? 'panel-primary default' : 'panel-danger currentQueue'">

  <div class="panel-heading" data-ng-show="!$ctrl.card.currentQueue[0]">

    <h3 class="hospital-card-h3">
      <i class="fa fa-hospital-o" aria-hidden="true"></i> {{ $ctrl.card.name }}
    </h3>


    <div class="row header-info">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <span class="badge">
              T. Médio: {{$ctrl.mediumTime || n/a}}
          </span>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <span class="queue-count badge pull-right">
              <i class="fa fa-users" aria-hidden="true"></i> {{$ctrl.card.queue}}
          </span>
      </div>
    </div>

    <hr>

    <div class="row maps-info">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" data-ng-attr-title="Carro">
        <i class="fa fa-car" aria-hidden="true"></i>
        <p>
          {{$ctrl.distance.DRIVING.distance}}
        </p>
        <p>
          {{$ctrl.distance.DRIVING.duration.text}}
        </p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" data-ng-attr-title="Transporte Público">
        <i class="fa fa-bus" aria-hidden="true"></i>
        <p>
          {{$ctrl.distance.TRANSIT.distance}}
        </p>
        <p>
          {{$ctrl.distance.TRANSIT.duration.text}}
        </p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" data-ng-attr-title="A Pé">
        <i class="fa fa-male" aria-hidden="true"></i>
        <p>
          {{$ctrl.distance.WALKING.distance}}
        </p>
        <p>
          {{$ctrl.distance.WALKING.duration.text}}
        </p>
      </div>
    </div>

  </div>

  <div class="panel-heading" data-ng-show="$ctrl.card.currentQueue[0]">
    <h3 class="hospital-card-h3">
      <i class="fa fa-hospital-o" aria-hidden="true"></i> {{ $ctrl.card.name }}
    </h3>

    <div class="row header-info">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <span class="badge">
                  T. Médio: {{$ctrl.mediumTime || n/a}}
              </span>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <span class="queue-count badge pull-right">
                  <i class="fa fa-users" aria-hidden="true"></i> {{$ctrl.card.queue}}
              </span>
      </div>
    </div>


    <div class="row current-info">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 current-position pull-left">
        Posição: {{$ctrl.card.currentPosition + 1}}
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 arrival-duration pull-right">
        <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{$ctrl.arrivalTimeDuration}}
      </div>

    </div>

    <hr>

    <div class="row maps-info">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" data-ng-attr-title="Carro">
        <i class="fa fa-car" aria-hidden="true"></i>
        <p>
          {{$ctrl.distance.DRIVING.distance}}
        </p>
        <p>
          {{$ctrl.distance.DRIVING.duration.text}}
        </p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" data-ng-attr-title="Transporte Público">
        <i class="fa fa-bus" aria-hidden="true"></i>
        <p>
          {{$ctrl.distance.TRANSIT.distance}}
        </p>
        <p>
          {{$ctrl.distance.TRANSIT.duration.text}}
        </p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" data-ng-attr-title="A Pé">
        <i class="fa fa-male" aria-hidden="true"></i>
        <p>
          {{$ctrl.distance.WALKING.distance}}
        </p>
        <p>
          {{$ctrl.distance.WALKING.duration.text}}
        </p>
      </div>
    </div>

  </div>

  <div class="panel-body">
    <div class="general-info">
      <h4>Informações gerais: </h4>
      <p>
        <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
        <span>{{ $ctrl.card.location.street }}</span>
      </p>

      <div class="map" id="map-{{$ctrl.card.hospitalCode}}"></div>

    </div>

    <div class="action-buttons row">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" data-ng-if="!$ctrl.card.currentQueue[0]">
        <button type="button" class="btn btn-default" data-ng-disabled="true">Estatísticas</button>
      </div>


      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" data-ng-if="!$ctrl.card.currentQueue[0]">
        <button type="button" class="btn btn-primary" data-ng-click="$ctrl.joinQueue()">Ingressar</button>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-if="$ctrl.card.currentQueue[0]">
        <button type="button" class="btn btn-danger leave-queue" data-ng-click="$ctrl.leaveQueue()">Abandonar</button>
      </div>

    </div>
  </div>
</div>
