$red: #cf4646;
@keyframes in {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes out {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@mixin flip-in() {
  animation-duration: 0.7s;
  animation-name: in;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

@mixin flip-out() {
  animation-duration: 0.7s;
  animation-name: out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

// change visibility for large screens
@media screen and (min-width: 1024px) {
  .hospital-card {
    width: 670px;
    display: flex;
    .panel-body {
      min-width: 398px;
    }
    .panel-heading {
      position: relative;
      .top-choice {
        text-align: center;
        margin: 15px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}

.hospital-card {
  border: 1px solid lightgray;
  position: relative;
  box-shadow: 0px 0px 4px 3px rgba(140, 140, 140, 0.2);
  min-height: 395px;
  perspective: 1000px;
  hr {
    margin: 15px auto;
  }
  &.default {
    .badge {
      font-size: 1.2em;
    }
  }
  .panel-body {
    text-align: center;
  }
  .panel-body.ng-hide {
    @include flip-out();
  }
  .panel-body.ng-show {
    @include flip-out();
  }
  .panel-heading {
    min-width: 270px;
    @include flip-in();
  }
  &.currentQueue {
    .panel-heading {
      @include flip-out();
      background-color: $red;
      .current-info {
        text-align: center;
        margin-top: 15px;
      }
    }
  }
  .maps-info {
    text-align: center;
    font-size: 0.825em;
  }
  .map {
    height: 220px;
    width: 100%;
  }
}

.hospital-logo {
  width: 5rem;
  height: 5rem;
  float: right;
  margin: 0 0 .5rem .5rem;
}

.hospital-card-h3 {
  font-size: 2rem;
  margin: 0 0 2rem 0;
  text-align: center;
  font-weight: bold;
}

h4 {
  text-align: center;
  margin: 0px 0px 15px;
}

.action-buttons {
  text-align: center;
  display: inline-flex;
  button {
    min-width: 105px;
  }
  .btn-default,
  .btn-primary {
    @include flip-in();
  }
  .leave-queue {
    @include flip-out();
    background-color: $red;
  }
}

.statistic-panel {
  @include flip-out();
  height: 100%;
  .graph-area {
    width: 100%;
    height: 220px;
  }
  .btn-danger {
    background-color: $red;
  }
}

.top-choice {
  text-align: center;
  margin-bottom: 3px;
  background-color: transparent;
  border: none;
  i {
    color: gold;
    font-size: 1.2em;
    animation: blinker 1s linear infinite;
  }
}
