$red: #cf4646;
.card-list-container {
  margin: 1rem;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hospital-search-bar {
  width: 100%;
  background-color: $red;
  input {
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.80);
    box-shadow: none;
    color: white;
    &::placeholder {
      color: white;
      text-align: center;
      letter-spacing: 2px;
      opacity: 0.5;
      ;
    }
  }
}
