@mixin flip-out() {
  animation-duration: 0.7s;
  animation-name: out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.statistic-panel {
  @include flip-out();
  width: 100%;
  height: 100%;
}
